{% extends "base.html" %}
{% block content %}
<section id="content">
  {% block content_title %}
  <h2 class="subtitle"> Tag: {{ tag | escape }}</h2>
  <p>Subscribe to <a href="{{ FEED_DOMAIN }}/{{
                           TAG_FEED_ATOM|format(slug=tag.slug) }}">Feed</a> of articles under <b>{{ tag | escape }}</b></p>
  {% endblock %}

  <ol id="post-list">
    {% for article in articles_page.object_list %}
    <li><article class="hentry">
      <header> <h2 class="entry-title"><a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark" title="Permalink to {{ article.title|striptags }}">{{ article.title }}</a></h2> </header>
      <footer class="post-info">
        {% if article.tags %}
        <span class="article-tags">
          {% for tag in article.tags %}
          <a href="{{ SITEURL }}/{{ tag.url }}">{{ tag | escape }}</a>,
          {% endfor %}
        </span>
        {% endif %}

        <abbr class="published" title="{{ article.date.isoformat() }}"> {{ article.locale_date }} </abbr>
      </footer><!-- /.post-info -->
      <div class="entry-content"> {{ article.summary }} </div><!-- /.entry-content -->
    </article></li>
    {% endfor %}
  </ol><!-- /#posts-list -->
  {% if articles_page.has_other_pages() %}
  {% include 'pagination.html' %}
  {% endif %}
</section><!-- /#content -->
{% endblock content %}
