@import url('https://fonts.googleapis.com/css2?family=Exo:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url(pygment.css);
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    background-color: #2e3440;
    background-repeat:repeat-x;
    background-position:top center;
    font-family: 'Exo',sans-serif;
    height:100%;
    padding: 20px;
    color:#d8dee9;
}

#page{
    z-index:0;
    width:800px;
    margin:auto;
}
section {
    margin-bottom:20px;
    margin-left:10px;
    font-size:1em;
}
h1 {
    font-size:1.3em;
    margin-bottom:20px;
}
h2 {
    font-size:1.75em;
    margin-bottom:20px;
}
h3 {
    font-size:1.2em;
    margin-bottom:10px;
    text-transform: lowercase;
}

p {
    margin-bottom:8px;
    line-height:150%;
    font-size:1em;
}
ul.links {
    margin-bottom:5px;
}
ul.links li {
    line-height:125%;
    list-style: inside;
}
ul.links li:last-child {
    border:0;
}
a:link,a:visited{
    color: #88c0d0;
    text-decoration:none;
}
a:hover {
    color: #8fbcbb;
}

@media screen and (max-width: 800px) {
    #page {
        width: 100%;
        padding: 20px;
    }
}

@media screen and (max-width: 600px) {
    #page {
        width: 100%;
        padding: 10px;
    }
    h1 {
        font-size:1.5em;
    }
}

/*---- pelican specific ------- */

#menu {

}

#menu ul li {
    display: inline-block;
    padding-right: 40px;
    list-style: none;
}

#post-list {
    margin-bottom: 80px;
    list-style: none;
}

article.hentry {
    margin-top: 80px;
}

#post-list h2.entry-title {
    margin-bottom:5px;
    font-size: 2.5em;
}

footer.post-info {
    font-size; 0.75em;
}

#post-list div.entry-content {
    margin: 25px 50px 0 50px;
}

p.paginator {
    text-align: center;
}

#contentinfo {
    margin-top: 50px;
    font-size:0.9em;
}

.article-tags {
    float: right;
}

h2.subtitle {
    font-size: 1.2em;
    margin-top: 20px;
}

#content {
    margin-top: 40px;


#content h2.entry-title {
    font-size: 3em;


#content .post-info {
    margin-left:0;
}

#content div.entry-content {
    margin-top: 30px;
    font-size: 1.2em;
}

#content div.entry-content p {
    /*! font-family: sans-serif; */
}

#content div.entry-content p,
#content div.entry-content pre,
#content div.entry-content ul {
    margin-bottom: 25px;

}

#content pre {
    white-space: pre-wrap;
    padding: 5px;
    background-color: #3b4252;
}

#content code {
    color: #d3ebe9;
    background: #3b4252;
    font-weight: bold;
}

#content ul {
    list-style:  outside;
    line-height: 125%;
    margin-left: 25px;
}

@media screen and (max-width: 800px) {
    #post-list div.entry-content {
        margin-left:0;
    }

    #post-list h2.entry-title {
        font-size:1.5em;
    }

    footer.post-info {
        margin-left: 0;
    }
    .article-tags {
        float: none;
        display: block;
    }


    #content h2.entry-title {
        font-size: 1.8em;
    }
}
