@import url("http://overpass-30e2.kxcdn.com/overpass.css");
* {
    margin:0;
    padding:0;
}

body {
    background-color: #FFF;
    background-repeat:repeat-x;
    background-position:top center;
    font-family: 'Overpass',sans-serif;
    height:100%;
    padding: 20px;
    color:#555;
}

#page{
    z-index:0;
    /*width:450px;*/
}
#avatar{
    float:left;
    width:80px;
    padding:5px;
    background-color:rgba(255,255,255,0);
    text-align:center;
}
#avatar img {
    margin-top: 18px;
    border-radius:15px;
}
section {
    margin-bottom:20px;
    margin-left:10px;
    font-size:1em;
}
h1 {
    font-size:3em;
}
h2 {
    font-size:1.75em;
    margin-bottom:20px;
}

p {
    margin-bottom:5px;
    font-size:1em;
}
ul.links {
    margin-bottom:5px;
}
ul.links li {
    font-size:0.8em;
    padding-right:8px;
    list-style: inside;
}
ul.links li:last-child {
    border:0;
}
a:link,a:visited{
    color: #222;
    text-decoration:none;
}
a:hover {
    color: #67CC67;
}
